In [2]:
import pandas as pd

In [3]:
train, test = pd.read_csv("train.csv"), pd.read_csv("test.csv")

In [4]:
train.head(5)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1923,0,0.5,1,7,0,46,0.5,191,1,...,767,1759,1489,10,9,3,1,1,1,1
1,633,1,2.2,0,0,1,49,0.1,139,8,...,529,1009,3560,11,1,16,1,1,1,2
2,1236,0,0.9,1,2,1,57,0.1,188,1,...,517,809,1406,14,12,20,1,0,1,0
3,781,0,1.1,0,2,0,38,0.4,198,5,...,304,1674,3508,13,8,5,0,0,1,3
4,1456,1,0.5,1,7,0,7,0.4,105,5,...,823,1104,1587,6,5,20,1,0,1,1

In [5]:
X_train, y_train = train.iloc[:, :-1].values, train.iloc[:, -1].values

In [6]:
X_test, y_test = test.iloc[:, :-1].values, test.iloc[:, -1].values

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train1 = X_train.copy()
X_test1 = X_test.copy()

scaler.fit(X_train1)
X_train1=scaler.transform(X_train1)

scaler.fit(X_test1)
X_test1=scaler.transform(X_test1)

In [8]:
from sklearn.svm import SVC

classifier = SVC(C=100)
classifier.fit(X_train, y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [9]:
predictions = classifier.predict(X_test)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, predictions))

0.985